In [114]:
import numpy as np
import pandas as pd

In [115]:
df1 = pd.read_csv("Reactions.csv")
df2 = pd.read_csv("ReactionTypes.csv")
df3 = pd.read_csv("Content (1).csv")

In [116]:
df3.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [117]:
df3.drop(['URL'], axis=1, inplace = True)

In [118]:
df3.head()

,Unnamed: 0,Content ID,User ID,Type,Category
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food

In [119]:
df3.isnull().sum()

Unnamed: 0    0
Content ID    0
User ID       0
Type          0
Category      0
dtype: int64

In [120]:
df3['Category'].unique()

array(['Studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'studying', 'veganism', 'Animals',
       'animals', 'culture', '"culture"', 'Fitness', '"studying"',
       'Veganism', '"animals"', 'Travel', '"soccer"', 'Education',
       '"dogs"', 'Technology', 'Soccer', '"tennis"', 'Culture', '"food"',
       'Food', '"technology"', 'Healthy Eating', '"cooking"', 'Science',
       '"public speaking"', '"veganism"', 'Public Speaking', '"science"'],
      dtype=object)

In [123]:
df3['Category']=df3['Category'].replace({'"animals"':'Animals',"animal":'Animal','"culture"':'culture','"studying"':'Studying'})

In [125]:
df3['Category']=df3['Category'].replace({'animals':'Animals','fitness':'Fitness','travel':'Travel','"tennis"':'tennis','"cookong"':'cooking'})

In [127]:
df3['Category']=df3['Category'].replace({'culture':'Culture','"food"':'Food','"technology"':'technology','"cooking"':'cooking'})

In [129]:
df3['Category']=df3['Category'].replace({'"public speaking"':'Public Specking','"veganism"':'veganism','"science"':'science'})

In [131]:
df3['Category']=df3['Category'].replace({'"dogs"':'dogs','"soccer"':'Soccer'})

In [137]:
df3['Category']=df3['Category'].replace({'soccer':'Soccer', 'food':'Food','Public Specking':'public specking','veganism':'Veganism'})

In [139]:
df3['Category']=df3['Category'].replace({'education':'Education','healthy eating':'Healthy Eating'})

In [143]:
df3['Category']=df3['Category'].replace({'science':'Science'})

In [145]:
df3['Category']=df3['Category'].replace({'studying':'Studying'})

In [147]:
df3['Category']=df3['Category'].replace({'technology':'Technology'})

In [149]:
df3['Category']=df3['Category'].replace({'Public Specking':'a'})

In [151]:
df3['Category']=df3['Category'].replace({'Public Speaking':'b'})

In [153]:
df3['Category']=df3['Category'].replace({'a':'public speaking'})

In [154]:
df3['Category']=df3['Category'].replace({'b':'public speaking'})

In [155]:
df3['Category'].unique()

array(['Studying', 'Healthy Eating', 'Technology', 'Food', 'cooking',
       'dogs', 'Soccer', 'public speaking', 'Science', 'tennis', 'Travel',
       'Fitness', 'Education', 'Veganism', 'Animals', 'Culture'],
      dtype=object)

In [156]:
df3.columns

Index(['Unnamed: 0', 'Content ID', 'User ID', 'Type', 'Category'], dtype='object')

In [157]:
#df3.drop(['Unamed: 0'], axis =1)

In [158]:
df3.rename({'Type':'ContentType'}, axis = 1, inplace = True)

In [159]:
df3.head()

,Unnamed: 0,Content ID,User ID,ContentType,Category
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,Healthy Eating
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,Healthy Eating
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,Technology
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,Food

In [160]:
df1.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [161]:
df1.isnull().sum()

Unnamed: 0       0
Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [162]:
df1.dropna(subset=['User ID'], how='all', inplace=True)

In [163]:
df1.isnull().sum()

Unnamed: 0    0
Content ID    0
User ID       0
Type          0
Datetime      0
dtype: int64

In [164]:
df3.drop(['User ID'], axis=1, inplace=True)

In [165]:
df1.drop(['User ID'], axis=1, inplace=True)

In [166]:
df1.head()

,Unnamed: 0,Content ID,Type,Datetime
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01
5,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58

In [167]:
df1.columns

Index(['Unnamed: 0', 'Content ID', 'Type', 'Datetime'], dtype='object')

In [168]:
df2.columns

Index(['Unnamed: 0', 'Type', 'Sentiment', 'Score'], dtype='object')

In [169]:
df3.columns

Index(['Unnamed: 0', 'Content ID', 'ContentType', 'Category'], dtype='object')

In [170]:
df = df3.merge(df1, on='Content ID', how='inner')

In [171]:
df.head()

,Unnamed: 0_x,Content ID,ContentType,Category,Unnamed: 0_y,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,1,disgust,2020-11-07 09:43:50
1,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,2,dislike,2021-06-17 12:22:51
2,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,3,scared,2021-04-18 05:13:58
3,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,4,disgust,2021-01-06 19:13:01
4,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,5,interested,2020-08-23 12:25:58

In [172]:
df = df.merge(df2, on='Type', how='inner')

In [173]:
df.head()

,Unnamed: 0_x,Content ID,ContentType,Category,Unnamed: 0_y,Type,Datetime,Unnamed: 0,Sentiment,Score
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,1,disgust,2020-11-07 09:43:50,2,negative,0
1,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,4,disgust,2021-01-06 19:13:01,2,negative,0
2,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,35,disgust,2021-04-09 02:46:20,2,negative,0
3,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,Healthy Eating,52,disgust,2021-03-28 21:15:26,2,negative,0
4,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,Healthy Eating,88,disgust,2020-08-04 05:40:33,2,negative,0

In [174]:
df.columns

Index(['Unnamed: 0_x', 'Content ID', 'ContentType', 'Category', 'Unnamed: 0_y',
       'Type', 'Datetime', 'Unnamed: 0', 'Sentiment', 'Score'],
      dtype='object')

In [175]:
df.drop(['Unnamed: 0_x','Unnamed: 0_y','Unnamed: 0'],axis=1, inplace=True)

In [176]:
df.columns

Index(['Content ID', 'ContentType', 'Category', 'Type', 'Datetime',
       'Sentiment', 'Score'],
      dtype='object')

In [177]:
df.head()

,Content ID,ContentType,Category,Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,2020-11-07 09:43:50,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,2021-01-06 19:13:01,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,2021-04-09 02:46:20,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,Healthy Eating,disgust,2021-03-28 21:15:26,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,Healthy Eating,disgust,2020-08-04 05:40:33,negative,0

In [178]:
df = pd.DataFrame(df)

In [179]:
df

,Content ID,ContentType,Category,Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,2020-11-07 09:43:50,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,2021-01-06 19:13:01,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,2021-04-09 02:46:20,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,Healthy Eating,disgust,2021-03-28 21:15:26,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,Healthy Eating,disgust,2020-08-04 05:40:33,negative,0
...,...,...,...,...,...,...,...
22529,435007a5-6261-4d8b-b0a4-55fdc189754b,audio,Veganism,adore,2020-10-04 22:26:33,positive,72
22530,435007a5-6261-4d8b-b0a4-55fdc189754b,audio,Veganism,adore,2020-09-18 10:50:50,positive,72
22531,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,GIF,Culture,adore,2020-10-31 03:58:44,positive,72
22532,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,GIF,Culture,adore,2020-06-25 15:12:29,positive,72
22533,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,GIF,Culture,adore,2020-12-17 16:32:57,positive,72

In [180]:
df = df.sort_values(['Score'], ascending=[False])

In [181]:
df

,Content ID,ContentType,Category,Type,Datetime,Sentiment,Score
12048,585c17a5-df96-4a6d-b144-a499e0469546,GIF,Healthy Eating,super love,2021-04-11 17:16:00,positive,75
12212,9c8be342-6cff-4d80-bf94-fd0fd8ccd845,video,dogs,super love,2020-07-29 14:22:46,positive,75
12220,79dfc9a4-42c0-42a5-abe4-2b5d3b8a05ab,GIF,Culture,super love,2020-08-04 10:41:37,positive,75
12219,965a00aa-3037-4ea6-b6be-26f6fbee029e,audio,public speaking,super love,2021-01-26 16:23:12,positive,75
12218,d624685f-99a7-4aee-902b-283f5cf85ada,photo,Studying,super love,2020-06-19 11:13:41,positive,75
...,...,...,...,...,...,...,...
940,efffd88f-7ddb-4579-bbf2-e3d248c122b4,video,tennis,disgust,2020-10-15 17:55:04,negative,0
941,efffd88f-7ddb-4579-bbf2-e3d248c122b4,video,tennis,disgust,2021-03-24 01:11:25,negative,0
942,f9e9544e-16b5-416f-9aec-80a723d1e64c,video,Culture,disgust,2020-08-02 07:52:05,negative,0
943,f9e9544e-16b5-416f-9aec-80a723d1e64c,video,Culture,disgust,2020-08-09 20:31:30,negative,0
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,2020-11-07 09:43:50,negative,0

In [182]:
df = df.to_csv("Dataset.csv")